# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# -------------------------
# Virtual Environment
# -------------------------
.venv/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Local Database
# -------------------------
resume_analyzer.db

# -------------------------
# Uploaded Files
# -------------------------
data/resumes/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db